body {
    text-align: center;
    background-color: azure;
}

.title-div {
    border-bottom: 3px solid lightgrey;
}

.page-title {
    text-align: center;
    margin: 30px;
    color: darkgray;
}


#textFileContentArea {
    width: 80%;
    height: 400px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 53px;
}

.controls-div {
    width: 100%;
}
